@charset "UTF-8";

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
  }

@media screen and (min-width: 768px) and (max-width: 1200px){

    header > div#logo{
        width: 200px;
        margin: auto;
    }
    
    main > section > div#form{
        width: 600px;
        background-color: var(--form-background);
        padding: 50px;
        margin: auto;
    }

}


@media screen and (min-width: 1200px){
    
    body,html{
        padding: 0px;

        background-image: url(../images/side-image-2x.jpg);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center right;
        background-attachment: scroll;
    } 


    header, main{
        width: 50%;
        
    
    }

    

    main > section > div#form{
        width: 50%;
        background-color: var(--form-background);
        padding: 20px;
        margin: 100px auto;
    }




}
