@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px){

    header > div#logo{
        width: 60%;
        position: relative;
        left: 40%;
    }
    
    main > section > div#form{
        width: 70%;
        background-color: var(--form-background);
        padding: 50px;
        margin: auto;
    }

}


@media screen and (min-width: 1200px){
    
    body{
        background-image: url(../images/side-image-2x.jpg);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center right;
        background-attachment: scroll;
    } 


    header, main{
        width: 50%;
    }

    

    main > section > div#form{
        position: static;
        width: 63%;
        background-color: var(--form-background);
        padding: 20px;
        margin: auto;
        margin-top: 100px;
    }




}
