@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white
  }

body, html{
    width: 100vw;
    height: 1200px;
    background-color: var(--background)
  }



  header > div#logo{
    padding: 0px 10px;
    padding-top: 50px;
    padding-bottom: 30px;
 }

header > div#logo > #logoimg{
    width: 120px;
 }

 main > section > div#form{
  height: 50px;
}

main > section > div#form > div#title{
    margin-bottom: 40px;
 }

main > section > div#form > div#title > h1 > span{
    font-size: 1em;
    color: var(--primary-color);
    transform: translate(-5px, 4px);
 }

main > section > div#form > div#title > h1{
    font-family: var(--poppins);
    color: var(--text-title);
    font-size: 1.5em;
    margin-bottom: 10px;
}

main > section > div#form > div#title > p{
    font-family: var(--roboto);
    color: var(--text-base);
}

section{
    height: 100%;
    padding-top: 10px;
}

main > section > div#form{
  width: 100%;
  height: 100%;
  padding: 10px;
}

form > label{
  font-family: var(--poppins);
  color: var(--text-base);
  font-size: 1em;
}

section > div#form > form > div.campos{
  width: 91%;
  height: 50px;
  margin-bottom: 10px;
  
  border-radius: 5px;
}

form > div.campos > input{
 width: 100%; 
 height: 50px;
 border: 2px solid var(--text-base);
 border-radius: 5px;
 background-color:var(--background);
 

font-family: var(--roboto);
color: var(--text-base);
font-size: 1em;
text-indent: 40px;

 transform: translate(0px, -29px);
}

form > div.campos > input:hover{
  border: 2px solid var(--primary-color);
}

form > div.campos > span{
  position: relative;
  z-index: 1;
  color: var(--text-base);

  transform: translate(10px, 10px);
}

span#vis{
  display: inline-block;
  top: -150%;
  left: 90%;
  cursor: pointer;
}

form > div#campoCheck{
  display: inline-block;
  width: 50%;
  height: 50px;
}

form > div#campoCheck > div#checkbox{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-base);
  border-radius: 4px;
  cursor: pointer;

  /*background-image: url(../images/uncheck.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; */

}

form > div#campoCheck > div#checkbox:hover{
  border-color: var(--primary-color);
}

form > div#campoCheck > p{
  display: inline;
  font-family: var(--poppins);
  font-size: 1em;
  color: var(--text-base);
  text-align: center;
  
  margin-left: 5px;
  position: relative;
  top: -4px;

}

form > div#forgetPass{
  width: 50%;
  height: 50px;
  margin-left: 40%;

  transform: translateY(-50px);
}


form > div#forgetPass > a{
  font-family: var(--poppins);
  font-size: 1em;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  float: right;

  
  
} 

form > div#forgetPass > a:hover{
  text-decoration: underline;
}

form > div#button{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

form > div#button > input{
  display: block;
  width: 90%;
  height: 50px;
  margin: auto;
  

  background-color: var(--primary-color);
  border-radius: 5px;
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 1.5em;
  color: var(--background);
}

form > div#registro {
  width: 100%;
  text-align: center;
  }

form > div#registro > p{
  font-family: var(--poppins);
  font-size: 1em;
  color: var(--primary-color);
}

form > div#registro > p > a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

form > div#registro > p > a:hover{
  text-decoration: underline;
}







 








  


 



