@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: none;
    color: white
  }

body, html{
    width: 100vw;
    height: 100vh;
    background-color: var(--background)
  }

header{
    width: 100%;
    height:25%;
  }
header > div#logo{
    padding: 0px 30px;
    padding-top: 50px;
    padding-bottom: 30px;
 }

header > div#logo > #logoimg{
    width: 200px;
 }

header > div#title{
    padding: 0px 30px;
 }

header > div#title > h1 > span{
    font-size: 1em;
    color: var(--primary-color);
    transform: translate(-5px, 4px);
 }

header > div#title > h1{
    font-family: var(--poppins);
    color: var(--text-title);
    font-size: 1.5em;
    margin-bottom: 10px;
}

header > div#title > p{
    font-family: var(--roboto);
    color: var(--text-base);
}

  main{
    width: 100%;
    height: 75%;
}

section{
    height: 100%;
}

section > div#formulario{
    padding: 0px 30px;
}

form > div.campo > label{
    
}


 








  


 



