@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;

    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white
  }

body, html{
    width: 100vw;
    height: 100vh;
    background-color: var(--background)
  }

header{
    width: 100%;
    height:20%;
    
  }
header > div#logo{
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 30px;
 }

header > div#logo > #logoimg{
    width: 120px;
 }

header > div#title{
    padding: 0px 20px;
 }

header > div#title > h1 > span{
    font-size: 1em;
    color: var(--primary-color);
    transform: translate(-5px, 4px);
 }

header > div#title > h1{
    font-family: var(--poppins);
    color: var(--text-title);
    font-size: 1.5em;
    margin-bottom: 10px;
}

header > div#title > p{
    font-family: var(--roboto);
    color: var(--text-base);
}

  main{
    width: 100%;
    height: 80%;
}

section{
    height: 100%;
    padding-top: 10px;
}

section > div#formulario{
    padding: 0px 20px;
}

label{
 
  font-family: var(--poppins);
  color: var(--text-base);

}

div.campo > #mailLogo{
  color: var(--text-base);

  transform: translate(-48px, 38px);
}

div.campo > #lock{
  color: var(--text-base);
  
  transform: translate(-46px, 39px);
}

div.campo{
  margin-bottom: 12px;
}

div.campo > input{
  width: 100%;
  height: 40px;

  background-color: var(--background);
  border: 1px solid var(--text-base);

  font-family: var(--roboto);
  font-size: 1em;
  text-indent: 40px;

  border-radius: 5px;
}

div#password{
  margin-bottom: 20px;
}

div#icheckbox{
  display:inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-base);
  border-radius: 4px;

  color:var(--background);

}

div#checkbox > p{
  display:inline-block;
  font-family: var(--poppins);
  font-size: 1em;
  color: var(--text-base);
  margin-right: 5%;

  transform:translate(5px, -3px);
}

div#checkbox > a{
  text-decoration: none;
  font-size:1em;
  position: relative;
  font-family: var(--poppins);
  color:var(--primary-color);
}




 








  


 



